################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
node_modules
/Angular2VS2015/bin
/Angular2VS2015/wwwroot
